$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Limelight|Changa+One|Jaldi|Oxygen|Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Oswald|Poiret+One|Nunito|Nunito+Sans|Josefin+Sans|Pacifico|Quicksand|Rubik|VT323|Roboto');

body {
  background-color: #fff;
}

a, a:link, a:hover, a:visited{
  color: white;
  text-decoration: none;
}

.bg-light {
  background-color: #f75930 !important;
}


.navbar-brand {
    width: 40%;
    display: inline;
    margin: 0 auto;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 200;
}

.navbar-brand span {
  font-family: 'Poiret One', serif;
}

.navbar-light .navbar-brand {
  color: white;
  z-index: 100;
}

button.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px; 
}

button.navbar-toggler:focus {
  outline: none;
}

.navbar-nav {
  margin-top: 10px;
  float: right;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link   {
  color: white;
}

li.nav-item.active {
  color: white;
}

.nav-item {
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
}

.jumbotron {
  background-color: #f75930;
  position: relative;
  top: -100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron h1 {
  font-family: 'Poiret One', serif;
  color: white;
  font-weight: 100;
}

.jumbotron .container {
  width: 50%;
  position: relative;
  top: -70px;
}

.main {
  margin-top: -130px;
}

.main section {
  margin-top: -20px;
}

.page1 , .page2  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.page1 h1, .page2 h1 {
  font-size: 100px;
  color: white;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
}

.page1 {
  background-image: url('../images/winter.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  z-index: 100;
}

.page2 {
  background-image: url('../images/news.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
