$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Limelight|Changa+One|Jaldi|Oxygen');
@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323');

body {
  background-color: #5cc7b2;
}


.container-fluid {
  margin-top: 150px;
}

.articles {
  margin-left: 350px;
}

.navicon {
  position: absolute;
  left: 0;
  top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.navicon img {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 40px;
  color: #333333;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.art {
  background-color: white;
  color: black;
  width: 70%;
  margin-bottom: 50px;
  padding-bottom: 30px;
  height: 50%;
}


.art h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.art h3 {
  width: 100%;
  font-size: 22px;
  position: relative;
  top: -10px;
  font-family: 'Quicksand', sans-serif;
}

.art img {
  position: relative;
  top: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1650px) {
  .art  {
    height: 50%;
  }
}
