$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Limelight|Changa+One|Jaldi|Oxygen');

body {
  background-color: #ffa07a;
}


.container.first{
  display: block;
  width: 90%;
  margin: 0 auto;
  //border: 1px solid white;
  margin-top: 250px;
}

.search {
  text-align: center;
}

.search h1 {
  font-size: 55px;
  font-family: 'Changa One', cursive;
}

.search form {
  margin-top: 40px;
}

.navicon {
  position: absolute;
  left: 0;
  top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.navicon img {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 40px;
  color: #333333;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Oxygen', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.widget {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: -100px;
}

.widget .thumbnail{
  background-color: #ffa07a;
  border: 3px solid white;
  padding: 30px;
  border-radius: 30px;
}

.widget .outer {
  width: 100%;
}

#name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#day {
  text-align: center;
}

.push-up {
  position: relative;
  top: -220px;
}

.thumbnail .caption {
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* Customize container */
@media (min-width: 770px) {
  .widget {
    width: 100%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
