$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@import url('https://fonts.googleapis.com/css?family=Limelight|Changa+One|Jaldi|Oxygen|Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Oswald|Poiret+One|Nunito|Nunito+Sans|Josefin+Sans|Pacifico|Quicksand|Rubik|VT323|Roboto');

body {
  background-color: #fff;
}

a, a:link, a:hover, a:visited{
  color: black;
  text-decoration: none;
}

.bg-light {
  background-color: #fff !important;
}


.navbar-brand {
    width: 40%;
    display: inline;
    margin: 0 auto;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 200;
}

.navbar-brand span {
  font-family: 'Poiret One', serif;
}

.navbar-light .navbar-brand {
  color: black;
  z-index: 100;
}

button.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px; 
}

button.navbar-toggler:focus {
  outline: none;
}

.navbar-nav {
  margin-top: 10px;
  float: right;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link   {
  color: black;
}

li.nav-item.active {
  color: black;
}

.nav-item {
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
}


.jumbotron {
  background-color: #fff;
  position: relative;
  top: -10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Poiret One', serif;
  color: black;
  font-weight: 100;
}

.jumbotron .container {
  width: 50%;
  position: relative;
  top: -70px;
}

.jumbotron .container form {
  display: block;
}

img {
  width: 30%;
}

.btn {
  margin-left:0;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    width: 100%;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron .container {
    width: 100%;
  }

  .jumbotron h1 {
    font-family: 'Poiret One', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .col-lg-4 h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1550px){
  .col-lg-4 h1 {
    font-size: 40px;
  }
}