.header {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  justify-content: space-between;
  padding-right: 3rem;
  @media only screen and (max-width: 30.62em) {
    justify-content: flex-start;
  }

  &--overall,
  &--news {
    background: #292423;
  }

  &--overall {
    padding-right: 10rem;
  }
  &__searchContainer {
    flex: 0 0 45%;
    &--input {
      width: 80%;
      border: none;
      padding: 1.3rem;
      border-radius: 10rem;
      transition: all 0.4s ease-in-out;

      &:focus {
        outline: none;
        width: 90%;
        z-index: -1;
      }
      &::-webkit-input-placeholder {
        font-size: 1.4rem;
      }
    }
    button {
      background: none;
      border: none;
    }
    &--searchIcon {
      height: 1.2rem;
      width: 1.2rem;
      transform: translateX(-3.5rem);
      border: none;
      cursor: pointer;
      z-index: 1;
      @media only screen and (max-width: 32.19em) {
        display: none;
      }
    }
  }
  &__logo {
    width: 15rem;
    height: 10rem;
    margin-top: 2rem;
  }
  &__nav {
    &--link {
      padding: 2rem;
    }
    &--item {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 0.5rem;
        position: absolute;
        left: 0;
        top: 1rem;
        background-color: var(--white);
        transform: scale(0, 0);
        padding: 2rem 0;
        transform-origin: 50% 50%;
        transition: transform 0.2s,
          width 0.2s cubic-bezier(0.3, 0.09, 0.92, 1.13);
      }
      &:hover::after {
        transform: scale(1, 0.1);
        width: 100%;
        color: white;
      }
    }
  }
  .bm-burger-button {
    position: fixed;
    right: 30px;
    top: 30px;
    height: 60px;
    width: 60px;
    @media only screen and (max-width: 56.31em) {
      top: 20px;
    }
    @media only screen and (max-width: 37.5em) {
      top: 28px;
      height: 40px;
      width: 40px;
    }
  }
  .bm-burger-bars {
    background: var(--white);
    height: 10% !important;
    border-radius: 3px;
    &:nth-child(2) {
      top: 20% !important;
    }
    &:last-child {
      top: 40% !important;
    }
  }
  .bm-cross {
    background: var(--white);
  }
  .bm-menu-wrap {
    top: 0;
  }
  .bm-morph-shape {
    fill: var(--medium-grey);
  }
  .bm-menu {
    background: var(--medium-grey);
    padding: 5rem 0 5rem 3rem;
    color: var(--white);
    font-size: 1.15em;
    border-left: 1px solid var(--light-pink);
  }
  .bm-overlay {
    width: 0% !important;
  }
}
