// Overall setting for both HTML and body

:root {
  --white: #fff;
  --black: #000000;
  --grey: #999999;
  --light-blue: #90b0c8;
}

html {
  // 1rem = 10px ~ 62.5%;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; // 16px
  font-weight: 300;
  line-height: 2rem;
  color: #fff;
}

.header {
  &__nav {
    &--link {
      font-size: 2rem;
      font-weight: 300;
      font-family: "K2D", sans-serif;
    }
  }
}

.homepage {
  .container {
    h1 {
      font-size: 5rem;
    }
    span {
      color: var(--light-blue);
    }
  }
}

.weather {
  &--location {
    font-weight: bold;
    color: #e84139;
    h1 {
      font-size: 10rem;
      letter-spacing: 2rem;
      text-transform: uppercase;
      font-family: "K2D", sans-serif;
      font-weight: 700;
      padding: 0;
    }
  }
  &--data {
    font-family: "K2D", sans-serif;

    h1 {
      font-size: 10rem;
      font-weight: 100;
    }
    h2 {
      text-transform: capitalize;
      font-weight: 100;
    }
  }
}
