// Overall setting for both HTML and body

:root {
  --white: #fff;
  --black: #000000;
  --grey: #999999;
  --dark-grey: #262626;
  --medium-grey: #292423;
  --light-blue: #90b0c8;
  --light-grey: #d8d8d8;
  --light-pink: #f87f73;
}

// Convert % to em divide by 16px

html {
  // 1rem = 10px ~ 62.5%;
  font-size: 62.5%;
  @media only screen and (max-width: 78.13em) {
    // 1200px
    font-size: 56.25%; //9px
  }
  @media only screen and (max-width: 56.25em) {
    //900px
    font-size: 50%; //8px
  }
  @media only screen and (max-width: 28.12em) {
    //430px
    font-size: 43.75%; //7px
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; // 16px
  font-weight: 300;
  line-height: 2rem;
  color: #fff;
}

.header {
  &__nav {
    &--link {
      font-size: 2.5rem;
      font-weight: 300;
      font-family: "Lato", sans-serif;
    }
  }
}

.homepage {
  .container {
    h1 {
      font-size: 5rem;
      @media only screen and (max-width: 68.75em) {
        font-size: 4rem;
      }
    }
    span {
      color: var(--light-pink);
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }
  }
}

.weather {
  &--location {
    font-weight: bold;
    color: #e84139;
    h1 {
      font-size: 10rem;
      letter-spacing: 2rem;
      text-transform: uppercase;
      font-family: "K2D", sans-serif;
      font-weight: 700;
      padding: 0;
      line-height: 5rem;
      background: var(--white);
      padding: 3rem;
      @media only screen and (max-width: 83.63em) {
        font-size: 8rem;
        line-height: 8rem;
        text-align: center;
      }
      @media only screen and (max-width: 45.63em) {
        font-size: 6.25rem;
      }
      @media only screen and (max-width: 33.125em) {
        font-size: 3.75rem;
      }
    }
  }
  &--data {
    font-family: "K2D", sans-serif;

    h1 {
      font-size: 10rem;
      font-weight: 100;
    }
    h2 {
      text-transform: capitalize;
      font-weight: 100;
    }
  }
}

.news {
  &__nav {
    &__list {
      &--item {
        color: var(--grey);
        text-transform: uppercase;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        font-family: "K2D", sans-serif;
        font-weight: 700;
        &:hover {
          color: var(--black);
        }
      }
    }
  }
  &__articles {
    color: var(--dark-grey);
    &--item {
      h1 {
        line-height: 3.2rem;
        font-size: 2rem;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        margin: 0;
      }
      p:first-of-type {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    &--author {
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }
    &--content {
      font-family: "Lato", sans-serif;
      line-height: 2.5rem;
      font-weight: 700;
      color: var(--black);
    }
  }
}
